:root {
    --tg-theme-bg-color: #efeff3;
    --tg-theme-button-color: #2eaddc;
    --tg-theme-button-text-color: white;
}

html,
body,
#root {
    margin: 0;
    padding: 0;

    font-family: "ch", "Bungee", sans-serif;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "ch";
    src: url(./assets/fonts/chinese.ttf) format("truetype");
    unicode-range: U+4E00-9FFF;
}
